<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Relaxing Koala</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/signup.css">
  </head>
<body>
    <center>
        <h1>Sign Up</h1>
        <div class="information">
        <input type="text" v-model="name" placeholder="Enter Name: "/>
        <input type="text" v-model="email" placeholder="Enter Email: "/>
        <input type="password" v-model="password" placeholder="Enter Passwrod: "/>
        <button v-on:click="signUp">Sign Up</button>
        </div>
    </center>
    
</body>